{% extends 'main.html' %} {% load static %}
{% block head %}
  <!-- Scrollbar CSS -->
  <link rel="stylesheet" href="{% static 'assets/vendor/overlay-scroll/OverlayScrollbars.min.css' %}" />

  <!-- Data Tables -->
  <link rel="stylesheet" href="{% static 'assets/vendor/datatables/dataTables.bs5.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/vendor/datatables/dataTables.bs5-custom.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/vendor/datatables/buttons/dataTables.bs5-custom.css' %}" />

  <script src="{% static 'assets/js/custom_js/crear_curso.js' %}"></script>
{% endblock %}
<!-- Breadcrumb start -->

{% block breadcrumb %}
  

  <ol class="breadcrumb mb-3">
    <li class="breadcrumb-item">
      <i class="icon-house_siding lh-1"></i>
      <a href="{% url 'home' %}" class="text-decoration-none">Inicio</a>
    </li>
    <li class="breadcrumb-item">Cursos</li>
    <li class="breadcrumb-item">Nuevo Curso</li>
  </ol>
{% endblock %}
<!-- Breadcrumb end -->

{% block main_content1 %}
  <div class="row gx-3">
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="card-title">Definir Curso</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 col-sm-4 col-12">
              <div class="mb-3">
                <label class="form-label">{{ form.plan_de_estudio.label }}</label>
                {{ form.plan_de_estudio }}
              </div>
            </div>

            <div class="col-lg-3 col-sm-4 col-12">
              <div class="mb-3">
                <label class="form-label">{{ form.anio.label }}</label>
                {{ form.anio }}
              </div>
            </div>

            <div class="col-lg-4 col-sm-4 col-12">
              <div class="row row-cols-lg-auto g-3 align-items-center">
                <div class="col-lg-8">
                  <div class="mb-3">
                    <label class="form-label">{{ form.division.label }}</label>
                    {{ form.division }}
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="unicaDivisionCheck" />
                    <label class="form-check-label" for="gridCheck1">Única División</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-12">
              <div class="row row-cols-lg-auto g-3 align-items-center">
                <button type="button" class="btn btn-warning" id="crearCursoBtn"><i class="fs-4 icon-file-plus"></i> Cargar Alumnos</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %} {% block main_content2 %}
  <div class="row gx-3" id="bloqueCargaAlumnos">
    <div class="col-lg-7 col-12">
      <div class="card mb-3">
        <div class="card-header">
          <div class="card-title">Aspirantes</div>
        </div>

        <div class="card-body" id="tablaListadoAspirantes"></div>
      </div>
    </div>

    <div class="col-lg-5 col-12">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="card-title">Materias</h5>
        </div>
        <div class="card-body">
          <!-- Segunda tabla: Registros seleccionados -->
          <div class="table-responsive">
            <table id="scrollVertical2" class="table table-striped">
              <thead>
                <tr>
                  <th>Grado</th>
                  <th>DNI</th>
                  <th>Apellido</th>
                  <th>Nombre</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody id="tablaSeleccionados"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
 
{% endblock %}
