{% extends 'main.html' %} {% load static %} {% load custom_filters %}
{% block head %}
  <!-- Scrollbar CSS -->
  <link rel="stylesheet" href="{% static 'assets/vendor/overlay-scroll/OverlayScrollbars.min.css' %}" />

  <!-- Data Tables -->
  <link rel="stylesheet" href="{% static 'assets/vendor/datatables/dataTables.bs5.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/vendor/datatables/dataTables.bs5-custom.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/vendor/datatables/buttons/dataTables.bs5-custom.css' %}" />
{% endblock %}
<!-- Breadcrumb start -->

{% block breadcrumb %}
  <ol class="breadcrumb mb-3">
    <li class="breadcrumb-item">
      <i class="icon-house_siding lh-1"></i>
      <a href="{% url 'home' %}" class="text-decoration-none">Inicio</a>
    </li>
    <li class="breadcrumb-item"><a href="{%url 'cursos:ver_cursos'%}">Cursos</a></li>
        <li class="breadcrumb-item"><a href="{%url 'cursos:detalles_curso' curso.pk %}">{{ curso.nombre }}</a></li>
    <li class="breadcrumb-item">Modificar Alumnos</li>
  </ol>
{% endblock %}
<!-- Breadcrumb end -->

{% block main_content1 %}
  <!-- Row start -->
  <div class="row gx-3">
    <div class="col-12">
      <div class="card mb-3 bg-info">
        <div class="card-body">
          <div class="p-3 rounded-3">
            <!-- Row start -->
            <div class="bg-light px-4 p-2 rounded-3">
              <div class="row align-items-center">
                <div class="col-auto">
                  <img src="{% static 'assets/images/plan_estudio.png' %}" class="img-5x rounded-3" />
                </div>
                <div class="col">
                  <h6 class="fw-light">Curso:</h6>
                  <h5 class="m-0 fw-semibold">{{ curso }}</h5>
                </div>
                <div class="col">
                  <h6 class="fw-light">Plan de estudio</h6>
                  <h5 class="m-0 fw-semibold">{{ curso.plan_de_estudio }}</h5>
                </div>
                <div class="col">
                  <h6 class="fw-light">División:</h6>
                  <h5 class="m-0 fw-semibold">{{ curso.division }}</h5>
                </div>
              </div>
            </div>
            <!-- Row end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Row end -->
{% endblock %} {% block main_content2 %}
  <div class="row gx-2" id="bloqueCargaAlumnos">
    <div class="col-lg-6 col-12">
      <form action="" id="actualizarCursoForm" method="post">
        {% csrf_token %}
        <div class="card mb-3">
          <div class="card-header">
            <div class="row gx-2">
              <div class="col-9 col-md-auto">
                <h5 class="card-title">Aspirantes asignados a la división</h5>
              </div>
              <div class="col-3 col-md-auto">
                <button type="submit" class="btn btn-warning">Guardar Cambios</button>
              </div>
            </div>
          </div>

          <div class="card-body" id="tablaListadoAspirantes">
            <div class="table-outer">
              <div class="table-responsive">
                <table class="table align-middle m-0">
                  <!-- El contenido que antes estaba dentro de los divs de la tabla ahora sigue la estructura correcta -->
                  <thead>
                    <tr>
                      <th>Grado</th>
                      <th>DNI</th>
                      <th>Apellido</th>
                      <th>Nombre</th>
                      <th>Agregar</th>
                    </tr>
                  </thead>
                  <tbody id="tablaSeleccionados" hx-confirm="Are you sure?" hx-target="closest tr" hx-swap="outerHTML swap:1s">
                    {% for alumno in alumnos %}
                      <tr id="registro-{{ alumno.dni }}">
                        <td>{{ alumno.grado|convertirGrado }}</td>
                        <td>{{ alumno.dni }}</td>
                        <td>{{ alumno.apellidos }}</td>
                        <td>{{ alumno.nombres }}</td>
                        <td>
                          <input type="hidden" name="alumnos_pk" value="{{ alumno.pk }}" />
                          <button class="btn btn-danger" onclick="this.closest('tr').remove()">Quitar</button>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-lg-6 col-12">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="card-title">Agregar Aspirantes</h5>
        </div>
        <div class="card-body">
          <div class="card mb-3">
            <div class="card-body">
              <div class="m-0">
                <label class="form-label">Buscar Aspirante:</label>
                <span class="htmx-indicator">
                  <video autoplay loop muted>
                    <source src="{% static 'assets/images/htmx-indicator.webm' %}" type="video/webm">
                    Buscando....
                  </video></span>

                <input type="text" class="form-control" placeholder="Buscar..." name="search" hx-get="{% url 'alumnos:alumnos_por_especialidad' %}" hx-trigger="input changed delay:500ms, search" hx-target="#listadoAspirantes" hx-indicator=".htmx-indicator" hx-include="#plan_de_estudio, #anio" />
                <input type="hidden" id="plan_de_estudio" name="plan_de_estudio" value="{{ curso.plan_de_estudio.pk }}" />
                <input type="hidden" id="anio" name="anio" value="0" />
              </div>
            </div>
            <div class="table-outer">
              <div class="table-responsive">
                <table class="table align-middle m-0">
                  <thead>
                    <tr>
                      <th>Grado</th>
                      <th>DNI</th>
                      <th>Apellido</th>
                      <th>Nombre</th>

                      <th>Agregar</th>
                    </tr>
                  </thead>
                  <tbody id="listadoAspirantes">
                    <tr>
                      <td></td>
                      <td>
                        <div></div>
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        {% comment %} <button class="btn btn-info" hx-post="{% url 'cursos:seleccionar_registro' alumno.pk %}" hx-target="#tablaSeleccionados" hx-swap="beforeend" hx-trigger="click">Agregar</button> {% endcomment %}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'assets/js/custom_js/crear_curso.js' %}"></script>

  <script src="{% static 'assets/vendor/datatables/dataTables.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables/custom/custom-datatables.js' %}"></script>
  <!-- DataTable Buttons -->
  <script src="{% static 'assets/vendor/datatables/buttons/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables/buttons/jszip.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables/buttons/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables/buttons/vfs_fonts.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables/buttons/buttons.html5.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables/buttons/buttons.print.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables/buttons/buttons.colVis.min.js' %}"></script>

  <script>
    document.addEventListener('htmx:configRequest', function (event) {
      // Obtén el token CSRF de la metaetiqueta
      var metaTag = document.querySelector('meta[name="csrf-token"]')
      if (metaTag) {
        var csrfToken = metaTag.getAttribute('value')
        if (csrfToken) {
          event.detail.headers['X-CSRFToken'] = csrfToken
        } else {
          console.error('CSRF Token not found in meta tag content')
        }
      } else {
        console.error('Meta tag for CSRF token not found')
      }
    })
  </script>

  <script>
    document.body.addEventListener('htmx:afterRequest', function (event) {
      // Verifica que la solicitud haya terminado correctamente
      if (event.detail.xhr.status === 200) {
        try {
          const data = JSON.parse(response)
    
          // Elimina la fila con el id especificado
          const idToRemove = data.id_to_remove
          const rowToRemove = document.querySelector(`#selected-table tbody tr#registro-${idToRemove}`)
    
          if (rowToRemove) {
            rowToRemove.remove()
          }
    
          // Añade la nueva fila al final de la tabla
          const selectedTableBody = document.querySelector('#selected-table tbody')
          if (selectedTableBody) {
            selectedTableBody.insertAdjacentHTML('beforeend', data.new_row_in_selected)
          }
        } catch (e) {
          console.error('Error parsing JSON:', e)
        }
      } else {
        console.error('Request failed with status:', event.detail.xhr.status)
      }
    })
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var form = document.getElementById('actualizarCursoForm')
    
      if (form) {
        form.addEventListener('submit', function (e) {
          e.preventDefault() // Prevenimos el envío del formulario temporalmente
          // Recopila los datos de los alumnos seleccionados
          var alumnosSeleccionados = Array.from(document.querySelectorAll('#tablaSeleccionados input[name="alumnos_pk"]')).map((input) => input.value)
    
          // Crea o actualiza el campo oculto para los alumnos seleccionados
          var hiddenInput = document.getElementById('alumnos_seleccionados')
          if (!hiddenInput) {
            hiddenInput = document.createElement('input')
            hiddenInput.type = 'hidden'
            hiddenInput.id = 'alumnos_seleccionados'
            hiddenInput.name = 'alumnos_seleccionados'
            form.appendChild(hiddenInput)
          }
    
          // Actualiza el valor del campo oculto
          hiddenInput.value = JSON.stringify(alumnosSeleccionados)
    
          // Ahora podemos enviar el formulario
          form.submit()
        })
      } else {
        console.error('No se encontró el formulario')
      }
    })
  </script>

 
    
{% endblock %}
