{% extends 'main.html' %}
{% load static %} {% load custom_filters %}
{% block head %}
  <link href="{% static 'assets/select2/css/select2.min.css' %}" rel="stylesheet" />
{% endblock %}
{% block breadcrumb %}
  <ol class="breadcrumb mb-3">
    <li class="breadcrumb-item">
      <i class="icon-house_siding lh-1"></i>
      <a href="{% url 'home' %}" class="text-decoration-none">Inicio</a>
    </li>
    <li class="breadcrumb-item">Fechas</li>
    <li class="breadcrumb-item">Ver Fechas</li>
  </ol>
{% endblock %}
{% block main_content1 %}
  <!-- Row start -->
  <div class="row gx-3">
    {% if form_anual.errors %}
      <div class="alert alert-danger">{{ form_anual.non_field_errors }}
        {{ form_anual.anio_lectivo.errors|safe }}</div>
    {% endif %}

    {% if form_semestral.errors %}
      <div class="alert alert-danger">{{ form_semestral.non_field_errors }}
        {{ form_semestral.anio_lectivo.errors|safe }}</div>
    {% endif %}

    {% if form_trimestral.errors %}
      <div class="alert alert-danger">{{ form_trimestral.non_field_errors }}
        {{ form_trimestral.anio_lectivo.errors|safe }}</div>
    {% endif %}

    {% if form_cuatrimestral.errors %}
      <div class="alert alert-danger">{{ form_cuatrimestral.non_field_errors }}
        {{ form_cuatrimestral.anio_lectivo.errors|safe }}</div>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <div class="row gx-3">
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="card-title">Definir <span class="text-info">Inicio Ciclo Lectivo</span></h5>
            </div>
            <div class="card-body">
              <div class="row row-cols-lg-auto g-3 align-items-center">
                <div class="col-12">{{ form.fecha_inicio_ciclo_lectivo.label }}</div>
                <div class="col-12">{{ form.fecha_inicio_ciclo_lectivo }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="card-title">Definir <span class="text-info">Finales Anuales</span></h5>
            </div>
            <div class="card-body">
              <div class="row row-cols-lg-auto g-3 align-items-center">
                <div class="col-12">{{ form.FA.label }}</div>
                <div class="col-12">{{ form.FA }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row gx-3">
          <div class="col-md-3">
            <div class="card mb-3">
              <div class="card-header">
                <h5 class="card-title">Definir <span class="text-info">Trimestres</span></h5>
              </div>
              <div class="card-body">
                <div class="row mb-3">
                  <label class="col">{{ form.T1.label }} {{ form.T1 }}</label>
                </div>
                <div class="row mb-3">
                  <label class="col">{{ form.T2.label }} {{ form.T2 }}</label>
                </div>
                <div class="row mb-3">
                  <label class="col">{{ form.T3.label }} {{ form.T3 }}</label>
                </div>
                <div class="row mb-3">
                  <label class="col">{{ form.T4.label }} {{ form.T4 }}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card mb-3">
              <div class="card-header">
                <h5 class="card-title">Definir <span class="text-info">Finales Trimestrales</span></h5>
              </div>
              <div class="card-body">
                <div class="row mb-3">
                  <label class="col">{{ form.FT_1.label }} {{ form.FT_1 }}</label>
                </div>
                <div class="row mb-3">
                  <label class="col">{{ form.FT_2.label }} {{ form.FT_2 }}</label>
                </div>
                <div class="row mb-3">
                  <label class="col">{{ form.FT_3.label }} {{ form.FT_3 }}</label>
                </div>
                <div class="row mb-3">
                  <label class="col">{{ form.FT_4.label }} {{ form.FT_4 }}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card mb-3">
              <div class="card-header">
                <h5 class="card-title">Definir <span class="text-info">Bimestres</span></h5>
              </div>
              <div class="card-body">
                <div class="row mb-3">
                  <label class="col">{{ form.B1_A.label }} {{ form.B1_A }}</label>
                </div>
                <div class="row mb-3">
                  <label class="col">{{ form.B2_A.label }} {{ form.B2_A }}</label>
                </div>
                <div class="row mb-3">
                  <label class="col">{{ form.B1_B.label }} {{ form.B1_B }}</label>
                </div>
                <div class="row mb-3">
                  <label class="col">{{ form.B2_B.label }} {{ form.B2_B }}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card mb-3">
              <div class="card-header">
                <h5 class="card-title">Definir <span class="text-info">Finales Cuatrimestrales</span></h5>
              </div>
              <div class="card-body">
                <div class="row mb-3">
                  <label class="col">{{ form.FC_A.label }} {{ form.FC_A }}</label>
                </div>
                <div class="row mb-3">
                  <label class="col">{{ form.FC_B.label }} {{ form.FC_B }}</label>
                </div>
              </div>
            </div>

            <div class="card mb-3">
              
              <div class="card-body">
                <div class="row mb-3">
                  <button type="submit" class="btn btn-success btn-lg">Guardar Fechas</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>

  <!-- Row end -->
{% endblock %}
{% block main_content2 %}
  <button type="button" class="btn btn-warning btn-lg">Abrir mesa de complementarios</button>
{% endblock %}
{% block scripts %}
  <script>
    // Inicializa el campo oculto al cargar la página
    document.addEventListener('DOMContentLoaded', function () {
      const fechaInput = document.getElementById('fecha_inicio_ciclo_lectivo')
      const fechasOcultas = document.querySelectorAll('.fecha_inicio_ciclo_lectivo_oculta')
      console.log(fechasOcultas)
      // Captura el valor por defecto y lo inyecta en todos los campos ocultos
      fechasOcultas.forEach((fechaOculta) => {
        fechaOculta.value = fechaInput.value
        console.log(fechaOculta.value)
      })
    
      // Añade un listener para el cambio de fecha
      fechaInput.addEventListener('change', function () {
        // Captura el nuevo valor y lo inyecta en todos los campos ocultos
        fechasOcultas.forEach((fechaOculta) => {
          fechaOculta.value = this.value
        })
      })
    })
  </script>
{% endblock %}
