{% extends 'main.html' %}
{% load static %} {% load custom_filters %}
{% block head %}
  <link href="{% static 'assets/select2/css/select2.min.css' %}" rel="stylesheet" />

  {{ form.media }}
{% endblock %}
{% block breadcrumb %}
  <ol class="breadcrumb mb-3">
    <li class="breadcrumb-item">
      <i class="icon-house_siding lh-1"></i>
      <a href="{% url 'home' %}" class="text-decoration-none">Inicio</a>
    </li>
    <li class="breadcrumb-item">Fechas</li>
    <li class="breadcrumb-item">Ver Fechas</li>
  </ol>
{% endblock %}
{% block main_content1 %}
  <!-- Row start -->
  <div class="custom-tabs-container">
    <ul class="nav nav-tabs" id="customTab" role="tablist">
      {% comment %} <li class="nav-item" role="presentation">
        <a class="nav-link active" id="tab-one" data-bs-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="true">Calendario de Fechas común</a>
      </li> {% endcomment %}
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="tab-two" data-bs-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false">Calendario exclusivo Primer Año</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="tab-three" data-bs-toggle="tab" href="#three" role="tab" aria-controls="three" aria-selected="false">Calendario exclusivo Segundo Año</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="tab-four" data-bs-toggle="tab" href="#four" role="tab" aria-controls="four" aria-selected="false">Calendario exclusivo Tercer Año</a>
      </li>
    </ul>

    <div class="tab-content" id="customTabContent">
      {% comment %} <div class="tab-pane fade show active" id="one" role="tabpanel">
        {% include './partials/ver_fechas_todos.html' %}
      </div> {% endcomment %}
      <div class="tab-pane fade" id="two" role="tabpanel">
        {% include './partials/ver_fechas_primer_anio.html' %}
      </div>
      <div class="tab-pane fade" id="three" role="tabpanel">
        {% include './partials/ver_fechas_segundo_anio.html' %}
      </div>
      <div class="tab-pane fade" id="four" role="tabpanel">
        {% include './partials/ver_fechas_tercer_anio.html' %}
      </div>
    </div>
  </div>
{% endblock %}
