{% extends 'main.html' %} {% load static %}
{% load custom_filters %}
{% load cursos_filters %}

{% block breadcrumb %}
  <ol class="breadcrumb mb-3">
    <li class="breadcrumb-item">
      <i class="icon-house_siding lh-1"></i>
      <a href="{% url 'home' %}" class="text-decoration-none">Inicio</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'calificaciones:home' %}">Calificaciones</a>
    </li>
    <li class="breadcrumb-item">Calificar</li>
  </ol>
{% endblock %}

{% block main_content1 %}
  <div class="row gx-3">
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            <input type="hidden" name="id" value="{{ asignatura.id }}">
{{alerta_periodo_finalizado}}
            <div class="mb-2 d-flex align-items-end justify-content-between">
              <div class="col-5">
                <h5 class="card-title">Materia: {{ asignatura.materia.nombre }} - ({{ asignatura.materia.abreviatura }})</h5>
                <h6>Tipo de Materia: {{ asignatura.materia.tipo }} / <span class="fs-6">Año: {{ asignatura.materia.anio }}° Año</span></h6>
                <div class="row">
                  <div class="col-6">
                    <h6>
                      Ud. está calificando
                      <span class="badge bg-info">{{ periodoCalificacion }}</span>
                    </h6>
                  </div>
                  <div class="col-6">({{ fechasPeriodoCalificacion.0|date:'d-m-Y' }} al {{ fechasPeriodoCalificacion.1|date:'d-m-Y' }})</div>
                </div>
              </div>

              <div class="row row-cols-lg-auto g-3 align-items-center">
                <div class="col-12">
                  <label for="misma_fecha_examen">Misma fecha para todo el curso:</label>
                  <input type="checkbox" id="misma_fecha_examen" class="form-check-input" />
                </div>
                <div class="col-12">
                  <input type="date" name="fecha_examen" id="fecha_examen" class="form-control" disabled min="{{ fechasPeriodoCalificacion.0|date:'Y-m-d' }}" max="{{ fechasPeriodoCalificacion.1|date:'Y-m-d' }}" />
                </div>
              </div>
            </div>

            <div class="table-outer">
              <div class="table-responsive">
                <table class="table table-striped align-middle m-0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>
                        <div class="d-flex align-items-center">Grado</div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">Apellido</div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">Nombre</div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <span class="icon-calendar me-2 fs-4"></span>
                          Fecha de Examen
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <span class="icon-playlist_add_check me-2 fs-4"></span>
                          Calificación
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for form, alumno in forms_and_alumnos %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ alumno.grado|convertirGrado }} {{ alumno.especialidad|convertirEspecialidad }}{{ alumno.orientacion|convertirOrientaciones }}</td>
                        <td>
                          <span class="fw-semibold">{{ alumno.apellidos }}</span>
                        </td>
                        <td>
                          <span>{{ alumno.nombres }}</span>
                        </td>
                        <td>{{ form.fecha_examen }}</td>
                        <td>{{ form.valor }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

            <div class="row mt-3">
              <div class="d-flex flex-wrap gap-2 justify-content-end">
                <button type="submit" class="btn btn-success">Cargar Calificaciones</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    const misma_fecha_checkbox = document.getElementById('misma_fecha_examen')
    const fechaExamenInput = document.getElementById('fecha_examen')
    const fechasIndividualesInput = document.querySelectorAll('.fecha_examen_individual')
    misma_fecha_checkbox.addEventListener('change', function () {
      if (this.checked) {
        fechaExamenInput.disabled = false
      } else {
        fechaExamenInput.disabled = true
      }
    })
    console.log(fechaExamenInput)
    
    fechaExamenInput.addEventListener('change', function () {
      console.log('cambio')
      if (misma_fecha_checkbox.checked) {
        fechasIndividualesInput.forEach((input) => {
          input.value = fechaExamenInput.value
        })
      }
    })
  </script>



  {% if alerta_periodo_finalizado %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Mostrar modal de alerta al cargar la página
        $('#modalAlerta').modal('show');
    });
</script>

<!-- Modal de alerta -->
<div class="modal fade" id="modalAlerta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Alerta de periodo finalizado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        La materia que quiere calificar está en período de mesas de exámenes finales. <br> 
        Las calificaciones a ingresar son <strong>Calificaciones Finales</strong>. ¿Deseas continuar de todas formas?
      </div>
      <div class="modal-footer">
        <a href="{% url 'calificaciones:home' %}" class="btn btn-secondary">Cancelar</a>
        <button type="button" class="btn btn-primary" id="continuar">Continuar</button>
      </div>
    </div>
  </div>
</div>

<script>
    document.getElementById('continuar').addEventListener('click', function () {
      $('#modalAlerta').modal('hide');
        // Aquí puedes agregar la lógica para continuar
        // Por ejemplo, hacer una llamada AJAX o redirigir a otra página
    });
</script>
{% endif %}

{% endblock %}
